p{
    margin: 0;
    margin-bottom: 5px;
}

.container{
    padding: 30px;
    width: 800px;
    box-shadow: 10px 10px 10px 10px rgb(100, 100, 100);
    margin-top: 50px;
}

.img-container{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 400px;
}

.photo-container{
    display: flex;
    justify-content: center;
}

.country-name{
    text-align: center;
    margin-top: 10px;
    font-weight: 1000;
}

.info-container{
    row-gap: 10px;
}

body{
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
}

button{
    height: 35px;
    background-color: rgb(0, 72, 166);
    border: 2px;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
}


