

/* style={{ display: 'flex', alignItems: 'center'}} */

.icon-img{
    display: flex;
    justify-content: center;
}

.icon-container{
    text-align: center;
    background-color: rgb(242, 242, 242);
    padding-top: 10px;
    padding-bottom: 40px;
    box-shadow: 10px 10px 10px 10px #d8d7d7;
    margin-left: 30px;
    margin-right: 30px;
}